body {
  padding: 1em;
  font-family: verdana, sans-serif;
  color: #000;
}

h1 {
  font-size: 2.0em;
  font-weight: bold;
  margin: 0em 0em 1.2em 0em;
}

h2 {
  font-size: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h3 {
  font-size: 1.0em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h4 {
  font-size: 0.95em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h5 {
  font-size: 0.9em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h6 {
  font-size: 0.85em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

img {
  border: 0;
}

ol, ul, li {
  font-size: 1.0em;
  line-height: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.0em;
  line-height: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
}

li > p {
  margin-top: 0.2em;
}

pre {
  font-family: monospace;
  font-size: 1.4em;
}

tt {
  font-family: monospace;
  font-size: 1.4em;
}

strong, b {
  font-weight: bold;
}

form textarea {
  text-align: left;
}

#content {
  float: left;
  clear: left;
  margin: 0px -400px 0px 0px;
  width: 100%;
}

.entry {
  padding-right: 280px;
}

#link {
  float: right;
  clear: right;
  width: 250px;
  background: #eee;
  padding: 10px;
}

#header {
  text-align: center;
}

.body {
  overflow:hidden;
}

a, a:link {
  color: #6699cc;
}
a:active, a:hover {
  color: #669933;
}
a:visited {
  color: #8899aa;
}

code {
 padding: 3px;
 line-height: 1.4em;
 border: solid 1px #ccc;
}
pre>code {
 border: 0px;
}
pre {
 color: white;
 background-color: black;
 padding: 0.5em;
}
.entry-logo {
 float: left;
}
br.clear {
 clear: both;
}

#link dt {
 margin: 0 0 0.8em;
 width: 7.5em;
 border-left: solid 8px #aaa;
 padding-left: 5px;
 white-space: nowrap;
}
#link dt a {
 color: #0000aa;
 font-weight: bold;
}
#link dd {
 margin-bottom: 1em;
}

/*
 * For binary_download buttons.
 *
 * Most of styles are imported from github-button.
 */

#binary_download {
  float: right;
  clear: right;
  width: 250px;
  background: #eee;
  padding: 10px;
  margin-bottom: 20px;
}

#binary_download h2 {
  margin: 0.5em 0em;
}

#binary_download ul {
  -webkit-padding-start: 0px;
}

#binary_download li {
  display: block;
  margin-bottom: 10px;
}

.download_button,
.download_button:link {
  display: block;
  padding: 10px;
  border: 1px solid black;
  /* From github-button */
  text-decoration: none; 
  text-shadow: 1px 1px 0 #fff; 
  color: #333;
  white-space: nowrap; 
  cursor: pointer; 
  outline: none; 
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#aaaaaa));
  background-image: -moz-linear-gradient(#ffffff, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #aaaaaa);
  background-image: linear-gradient(#ffffff, #aaaaaa);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box; 
  /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
  -webkit-border-radius: 0.5em; 
  -moz-border-radius: 0.5em; 
  border-radius: 0.5em; 
  /* IE hacks */
  zoom: 1; 
}

.download_button:hover,
.download_button:focus,
.download_button:active,
.download_button.active {
  border-color: #30b372;
  border-bottom-color: #2aa065;
  text-decoration: none; 
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
  color: #fff; 
  background-color: #80cc66;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50bb50), to(#80cc66));
  background-image: -moz-linear-gradient(#50bb50, #80cc66);
  background-image: -o-linear-gradient(#50bb50, #80cc66);
  background-image: linear-gradient(#50bb50, #80cc66);
}
