---
layout: default
permalink: /
title: Vimのユーザと開発者を結ぶコミュニティサイト
---
<div class="news">
	NEWS: <a href="http://vim-jp.org/reading-vimrc/">vimrc読書会 毎週開催中！</a>
</div>
<div class="posts">

<img class="entry-logo" src="/assets/images/vim2-128.png" alt="Image of vim-jp" />
<p>vim-jp はテキストエディタ Vim と日本・日本語に関わるあらゆるリソースを集約することを目的としたコミュニティです。</p>
<p>Vim と vim-jp についての詳細は<a href="/about.html">コチラ</a>をご覧ください。</p>

<div class="fb-like" data-href="{{ site.base-url }}/" data-layout="button_count"></div>
<div class="g-plusone" data-href="{{ site.base-url }}/" data-size="medium"></div>
<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}"><img src="http://b.hatena.ne.jp/entry/image/large/{{ site.base-url | escape }}" class="hatena-bookmark-icon" alt="Hatena Bookmark"/></a>

<br clear="all" />

<h2>ブログ</h2>
<ul class="entry-list">
{% for post in site.categories.blog limit: 10 %}
  <li><span>{{ post.date | date: "%Y/%m/%d" }}</span>&nbsp;&raquo;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}{{ post.url | escape }}"><img src="http://b.hatena.ne.jp/entry/image/{{ site.base-url | escape }}{{ post.url | escape }}" alt="Hatena Bookmark"/></a></li>
	<div>
		{{ post.content | strip_html | truncatewords: 10 }}
	</div>
{% endfor %}
</ul>
<br />
<a href="pages.html">全記事一覧はこちら</a><br />
<br />

<h2>月刊Vimマガジン</h2>
<ul class="entry-list">
{% for post in site.categories.vimmagazine limit: 10 %}
  <li><span>{{ post.date | date: "%Y/%m/%d" }}</span>&nbsp;&raquo;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}{{ post.url | escape }}"><img src="http://b.hatena.ne.jp/entry/image/{{ site.base-url | escape }}{{ post.url | escape }}" alt="Hatena Bookmark"/></a></li>
	<div>
		{{ post.content | strip_html | truncatewords: 10 }}
	</div>
{% endfor %}
</ul>

<h2>読み物</h2>
<ul class="entry-list">
    <li>&raquo;&nbsp;<a href="/docs/how_to_write_patches.html">パッチの書き方</a>&nbsp;<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}/docs/how_to_write_patches.html"><img src="http://b.hatena.ne.jp/entry/image/http://vim-jp.org/docs/how_to_write_patches.html" alt="Hatena Bookmark"/></a></li>
    <li>&raquo;&nbsp;<a href="/docs/build_windows_msvc.html">VisualStudio10を使ってのビルド方法</a>&nbsp;<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}/docs/build_windows_msvc.html"><img src="http://b.hatena.ne.jp/entry/image/http://vim-jp.org/docs/build_windows_msvc.html" alt="Hatena Bookmark"/></a></li>
    <li>&raquo;&nbsp;<a href="/docs/build_windows_mingw.html">MinGWを使ってのビルド方法</a>&nbsp;<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}/docs/build_windows_mingw.html"><img src="http://b.hatena.ne.jp/entry/image/http://vim-jp.org/docs/build_windows_mingw.html" alt="Hatena Bookmark"/></a></li>
    <li>&raquo;&nbsp;<a href="/docs/build_linux.html">Linuxでのビルド方法</a>&nbsp;<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}/docs/build_linux.html"><img src="http://b.hatena.ne.jp/entry/image/http://vim-jp.org/docs/build_linux.html" alt="Hatena Bookmark"/></a></li>
    <li>&raquo;&nbsp;<a href="/docs/install_windows.html">Windowsへのインストール方法</a>&nbsp;<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}/docs/install_windows.html"><img src="http://b.hatena.ne.jp/entry/image/http://vim-jp.org/docs/install_windows.html" alt="Hatena Bookmark"/></a></li>
		<li>&raquo;&nbsp;<a href="/docs/binary.html">バイナリーを配布しているサイトの紹介</a>&nbsp;<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}/docs/binary.html"><img src="http://b.hatena.ne.jp/entry/image/http://vim-jp.org/docs/binary.html" alt="Hatena Bookmark"/></a></li>
		<li>&raquo;&nbsp;<a href="/tips/list.html">Vim に関するTips</a>&nbsp;<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}/tips/list.html"><img src="http://b.hatena.ne.jp/entry/image/http://vim-jp.org/tips/list.html" alt="Hatena Bookmark"/></a></li>
</ul>
<ul class="entry-list">
	<li>&raquo;&nbsp;<a href="/docs/books/vim-technique-bible/corrigenda.html">Vimテクニックバイブル 作業効率をカイゼンする150の技 正誤表</a></li>
</ul>
<br />

<a class="twitter-timeline" href="https://twitter.com/search?q=vim+-RT+lang%3Aja+-vimclip+-kmin_vim+-Vim_POYO_hrk+-Diversity_VIM+-vim_co" data-widget-id="303310203405877250">vim</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
<!-- vim:set ts=2 sts=2 sw=2 noet: -->
