---
# vim:set ts=2 sts=2 sw=2 noet:
layout: default
permalink: /
title: Vimのユーザと開発者を結ぶコミュニティサイト
---
<div class="news">
	NEWS: <a href="http://vim-jp.org/reading-vimrc/">vimrc読書会 毎週開催中！</a>
</div>
<div class="posts">

<img class="entry-logo" src="/assets/images/vim2-128.png" alt="Image of vim-jp" />
<p>vim-jp はテキストエディタ Vim と日本・日本語に関わるあらゆるリソースを集約することを目的としたコミュニティです。</p>
<p>Vim と vim-jp についての詳細は<a href="/about.html">コチラ</a>をご覧ください。</p>

<div class="fb-like" data-href="{{ site.base-url }}/" data-layout="button_count"></div>
<div class="g-plusone" data-href="{{ site.base-url }}/" data-size="medium"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="vim_jp" data-lang="ja">ツイート</a>
<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}"><img src="http://b.hatena.ne.jp/entry/image/large/{{ site.base-url | escape }}" class="hatena-bookmark-icon" alt="Hatena Bookmark"/></a>

<h2>ブログ</h2>
<ul class="entry-list2">
{% for post in site.categories.blog limit: 5 %}
{% include listitem-entry.html %}
{% endfor %}
</ul>
<p><a href="pages.html">全記事一覧はこちら</a></p>

<h2>月刊Vimマガジン</h2>
<ul class="entry-list2">
{% for post in site.categories.vimmagazine limit: 5 %}
{% include listitem-entry.html %}
{% endfor %}
</ul>
<p><a href="magazines.html">バックナンバーはこちら</a></p>

<h2>読み物</h2>
<ul class="entry-list2">
	<li>&raquo;&nbsp;<a href="/docs/how_to_write_patches.html">パッチの書き方</a>&nbsp;{% assign hatena-url = '/docs/how_to_write_patches.html' %}{% include hatena.html %}</li>
	<li>&raquo;&nbsp;<a href="/docs/patches_list.html">パッチリスト</a>&nbsp;{% assign hatena-url = '/docs/patches_list.html' %}{% include hatena.html %}</li>
	<li>&raquo;&nbsp;<a href="/docs/build_windows_msvc.html">VisualStudio10を使ってのビルド方法</a>&nbsp;{% assign hatena-url = '/docs/build_windows_msvc.html' %}{% include hatena.html %}</li>
	<li>&raquo;&nbsp;<a href="/docs/build_windows_mingw.html">MinGWを使ってのビルド方法</a>&nbsp;{% assign hatena-url = '/docs/build_windows_mingw.html' %}{% include hatena.html %}</li>
	<li>&raquo;&nbsp;<a href="/docs/build_linux.html">Linuxでのビルド方法</a>&nbsp;{% assign hatena-url = '/docs/build_linux.html' %}{% include hatena.html %}</li>
	<li>&raquo;&nbsp;<a href="/docs/install_windows.html">Windowsへのインストール方法</a>&nbsp;{% assign hatena-url = '/docs/install_windows.html' %}{% include hatena.html %}</li>
	<li>&raquo;&nbsp;<a href="/docs/binary.html">バイナリーを配布しているサイトの紹介</a>&nbsp;{% assign hatena-url = '/docs/binary.html' %}{% include hatena.html %}</li>
	<li>&raquo;&nbsp;<a href="/tips/list.html">Vim に関するTips</a>&nbsp;{% assign hatena-url = '/tips/list.html' %}{% include hatena.html %}</li>
</ul>
<ul class="entry-list2">
	<li>&raquo;&nbsp;<a href="/docs/books/vim-technique-bible/corrigenda.html">Vimテクニックバイブル 作業効率をカイゼンする150の技 正誤表</a></li>
</ul>
<br />

<!-- Twitter widget -->
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=vim+lang%3Aja+-RT+-be_vimmer_jp+-vimclip+-kmin_vim+-Vim_POYO_hrk+-Diversity_VIM+-vim_co+-tuner_vim_tool+-star_bot1+-Motion_4u" data-widget-id="303310203405877250">vim lang:ja -RT (etc...) に関するツイート</a>

</div>
