<!--<script type="text/javascript" src="https://raw.githubusercontent.com/jeresig/jquery.hotkeys/master/jquery.hotkeys.js"></script>-->
<script type="text/javascript" src="/assets/javascripts/jquery.hotkeys.js"></script>
<script>
var num = 0;
$(function() {
	$(document).bind('keydown', 'j', function(){      
	if(num == 1){
		$(".move:focus").closest('li').next().find('a.move').focus();   
	} else {
		$('#first').focus();
		num = 1;
	}
	})
});

$(function(){
	$(document).bind('keydown', 'k', function(){      
		$(".move:focus").closest('li').prev().find('a.move').focus();   
	})
});

//$(function(){
//	$(document).bind('keydown', 'g', function(){      
//		document.location.href = '#';
//	})
//});
//
//$(function(){
//	$(document).bind('keydown', 'Shift+g', function(){      
//		document.location.href = '#footer';
//	})
//});

$('.move').click(function() {
    this.focus();
});
</script>
