// vim:set sts=2 sw=2 tw=0 et:

table.vstb-corrigenda {
  table-layout: fixed;

  tr > th {
    &:nth-child(1) {
      width: 10%;
    }
    &:nth-child(2) {
      width: 20%;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 50%;
    }
  }
}
