---
# vim:set ts=2 sts=2 sw=2 noet:
---
<!doctype html>
<head>
<meta charset="UTF-8">
<title>vim-jp &raquo; {{ page.title }}</title>
<link rel="stylesheet" href="/assets/css/site.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/table.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://vim-jp.org/rss.xml" />
<link rel="canonical" href="{{ site.base-url }}{{ page.url }}" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	(function(doc, script) {
		window.___gcfg = {lang: 'ja'};
		//Async Social Buttons
		var js,
	fjs = doc.getElementsByTagName(script)[0],
	add = function(url, id) {
		if (doc.getElementById(id)) {return;}
		js = doc.createElement(script);
		js.src = url;
		id && (js.id = id);
		fjs.parentNode.insertBefore(js, fjs);
	};

	// Twitter SDK
	add('//platform.twitter.com/widgets.js', 'twitter-wjs');
	// Google+ button
	add('//apis.google.com/js/plusone.js');
	// Facebook SDK
	add('//connect.facebook.net/ja_JP/all.js#xfbml=1', 'facebook-jssdk');
	// Hatena
	add('//b.st-hatena.com/js/bookmark_button_wo_al.js');
	}(document, 'script'));
</script>

<!-- 日本語マニュアル検索用 -->
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load("search", "1", {language : "ja"});
  google.setOnLoadCallback(function() {
    // search
    var customSearchControl = new google.search.CustomSearchControl("001325159752250591701:65aunpq8rlg");
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.enableSearchboxOnly("http://www.google.com/cse?cx=001325159752250591701:65aunpq8rlg");
    customSearchControl.draw('VimdocJaSearch', options);
  }, true);

  $.getJSON("http://vim-jp.herokuapp.com/patches/json?callback=?", function(items) {
    $.each(items, function() {
      $('<li/>').append(
        $('<a/>').attr({'href': this.link, 'target': '_blank'}).text("Patch " + this.title)
      ).append($('<br/>')).append($('<span/>').text(this.description)).appendTo('#patches-list');
    });
  });
</script>
</head>
<body>

<!-- for facebook like button -->
<div id="fb-root"></div>

	<div class="header">
		<h1><a href="/">vim-jp &raquo; Vimのユーザーと開発者を結ぶコミュニティサイト</a></h1>
	</div>
	<div class="body">
		<div id="content">
			<div class="entry">
			{{ content }}
			</div>
		</div>
		<div class="links">
			<div id="starting_vim">
				<h2>Vimを始めよう</h2>
				<dl>
					<dt>バイナリーダウンロード</dt>
					<dd>
					<ul>
						<li><a href="http://files.kaoriya.net/goto/vim74w32"
							class="download_button"><span>{{site.downloads.vim74w32.title}}</span><br />
							<span class="info">({{ site.downloads.vim74w32.version }}, {{ site.downloads.vim74w32.info }})</span>
						</a></li>
						<li><a href="http://files.kaoriya.net/goto/vim74w64"
							class="download_button"><span>{{site.downloads.vim74w64.title}}</span><br />
							<span class="info">({{ site.downloads.vim74w64.version }}, {{ site.downloads.vim74w64.info }})</span>
						</a></li>
						<li><a href="http://files.kaoriya.net/goto/vim74mac"
							class="download_button"><span>{{site.downloads.vim74mac.title}}</span><br />
							<span class="info">({{ site.downloads.vim74mac.version }}, {{ site.downloads.vim74mac.info }})</span>
						</a></li>
					</ul>
					</dd>
					<dt><a href="http://vim-jp.org/vimdoc-ja">日本語マニュアル</a></dt>
					<dd>
					<div id="VimdocJaSearch"></div>
					<div>検索もできます。</div>
					</dd>
					<dt><a href="http://github.com/vim-jp/issues/issues">Issues</a></dt>
					<dd>日本語で問題報告できるITS(Issue Tracker System)。</dd>
					<dt><a href="/links.html">リンク集</a></dt>
					<dd>もっとVimの情報をゲットしよう! <a href="/vimmers/">Vimmers</a> (<a href="/vimmers2">カラフル版</a>)を見てみよう!</dd>
				</dl>
			</div>
			<div id="link" class="linkList">
				<h2>本家サイト(英語)</h2>
				<dl>
					<dt><a href="http://www.vim.org/">vim online</a></dt>
					<dd>オフィシャルサイト。Vimのtipsやスクリプト提供元。</dd>
					<dt><a href="https://groups.google.com/forum/?hl=ja&amp;fromgroups#!forum/vim_dev">vim_dev</a></dt>
					<dd>Vim本体の開発者用メーリングリスト。</dd>
				</dl>
			</div>
			<div id="patches">
				<h2>Patches</h2>
				<ul id="patches-list"></ul>
			</div>
			<div id="about">
				<span><a href="/about.html">このサイトについて</a></span><br />
				<br />
				<span><a href="http://twitter.com/vim_jp">Twitter公式アカウント</a></span><br />
				<br />
				<span><a href="https://github.com/vim-jp">GitHub Organization</a></span><br />
				<br />
				<a class="feed" href="/rss.xml"><img src="/assets/images/feed-icon-green-64.png" alt="RSS feed icon" /></a><br />
			</div>
		</div>

		<br class="clear" />
		<div id="footer">
			<p>Powered by <a href="http://github.com/">github</a>. vim-jp.org is licensed under a <a href="http://creativecommons.org/licenses/by/2.1/jp/">Creative Commons License</a>.
		</div>
	</div>
</body>
