<!doctype html>
<head>
	<meta charset="UTF-8">
    <title>vim-jp &raquo; {{ page.title }}</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://vim-jp.org/rss.xml" />
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script> 
$(function() {
  var url = "{{ site.base-url }}{{ page.url }}";
  if (url ==  "http://vim-jp.org/index.html") {
    url = "http://vim-jp.org/";
  }
  gapi.plusone.render("plusone-div", { "size": "medium", "count": true, "href": url });
});
</script> 
</head>
<body>
	<div class="header">
		<h1><a href="/">vim-jp &raquo; Vimのユーザと開発者を結ぶコミュニティサイト</a></h1>
	</div>
	<div class="body">
		<div id="content">
			<div class="entry">
			{{ content }}
			</div>
		</div>
		<div class="links">
			<div id="binary_download">
				<h2>バイナリーダウンロード</h2>
				<ul>
					<li><a href="http://files.kaoriya.net/goto/vim73w32"
						class="download_button"><span>Windows 32ビット</span><br />
						<span class="info">(7.3.315, +kaoriya, 14MB ZIP)</span>
					</a></li>
					<li><a href="http://files.kaoriya.net/goto/vim73w64"
						class="download_button"><span>Windows 64ビット</span><br />
						<span class="info">(7.3.315, +kaoriya, 14MB ZIP)</span>
					</a></li>
					<li><a href="http://files.kaoriya.net/goto/vim73mac"
						class="download_button"><span>MacOSX 10.6/10.7</span><br />
						<span class="info">(7.3.315, +macvim-kaoriya, 15MB)</span>
					</a></li>
				</ul>
			</div>
			<div id="link">
				<h2>Vimに関する情報提供サイト</h2>
				<dl>
					<dt><a href="http://www.vim.org/">vim online</a></dt>
					<dd>オフィシャルサイト。vimのtipsやスクリプト提供元。</dd>
					<dt><a href="http://vim-users.jp/">Vim-users.jp</a></dt>
					<dd>最新のテクニックや勉強会の予定等を告知しています。</dd>
					<dt><a href="http://github.com/vim-jp/issues/">issues</a></dt>
					<dd>日本語で問題報告出来るITS(Issue Tracker System)。</dd>
					<dt><a href="http://github.com/vim-jp/vimdoc-ja/">vimdoc-ja</a></dt>
					<dd>ドキュメント和訳プロジェクト。</dd>
					<dt><a href="http://vim-users-jp.tumblr.com/">Vim-users.jp Tumblr</a></dt>
					<dd>Vimに関する名言集。</dd>
					<dt><a href="http://vimwiki.net/">VimWiki</a></dt>
					<dd>匿名掲示板2ちゃんねるから収集されたVimのTipsなど。</dd>
					<dt><a href="http://www.kaoriya.net/">KaoriYa</a></dt>
					<dd>VimのWindows版に独自の拡張を施して使いやすくした物をパッケージとして提供しています。</dd>
					<dt><a href="http://code.google.com/p/macvim-kaoriya/">MacVim-KaoriYa</a></dt>
					<dd>MacVimにKaoriYaパッチを当て日本人向けにパッケージとして提供しています。</dd>
				</dl>
			</div>
			<div id="about">
				<span><a href="about.html">このサイトについて</a></span><br />
				<br />
				<a class="feed" href="rss.xml"><img src="/images/feed-icon-green-64.png" alt="RSS feed icon" /></a><br />
			</div>
		</div>

		<br class="clear" />
		<div id="footer">
			<p>Powered by <a href="http://github.com/">github</a>. vim-jp.org is licensed under a <a href="http://creativecommons.org/licenses/by/2.1/jp/">Creative Commons License</a>.
		</div>
	</div>
</body>
<!-- vim:set ts=2 sts=2 sw=2 noet: -->
