---
layout: default
---
<div class="post">
<h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
<div class="fb-like" data-href="{{ site.base-url }}{{ page.url }}" data-layout="button_count"></div>
<div class="g-plusone" data-href="{{ site.base-url }}{{ page.url }}" data-size="medium" data-count="true"></div>
<a href="http://b.hatena.ne.jp/entry/{{ site.base-url | escape }}{{ page.url | escape }}"><img src="http://b.hatena.ne.jp/entry/image/large/{{ site.base-url | escape }}{{ page.url | escape }}" class="hatena-bookmark-icon" alt="はてなブックマーク - {{ page.title }}" /></a>
<br />
{{ content }}
</div>
<br />
<a href="/">もどる</a>
<br />
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'vim-jp';
var disqus_url='{{ site.base-url | escape }}{{ page.url | escape }}';
var disqus_title='vim-jp &raquo; {{ page.title }}';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
