---
layout: default
---
<div class="post">
<h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
Posted at <span>{{ page.date | date_to_string }}</span><br />
<iframe src="http://www.facebook.com/plugins/like.php?href={{ post.url | escape }}&layout=standard&action=like&colorscheme=light&height=24" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:24px;" allowTransparency="true"></iframe>
<div id="plusone-div"></div>
<img src="http://b.hatena.ne.jp/entry/image/{{ post.url | escape }}" />
<br />
<br />
{{ content }}
</div>
<a href="/">もどる</a>
