---
# vim:set ts=2 sts=2 sw=2 noet:
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>vim-jp &raquo; {{ page.title }}</title>

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://vim-jp.org/rss.xml">
    <link rel="canonical" href="{{ site.base-url }}{{ page.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="http://necolas.github.com/normalize.css/3.0.1/normalize.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,400">
    <link rel="stylesheet" href="/assets/css/vimmers2.css" type="text/css">

    <script src="/assets/javascripts/modernizr-svg.js"></script>
  </head>
  <body>
    {{ content }}

    <script src="/assets/javascripts/vimmers2.js"></script>
  </body>
</html>
